#container{
    height: 60vh;
    width: 90vh;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border: 3px solid black;
    flex-wrap: wrap-reverse;
    
}

.balls{
    border-radius: 50%;
    border: 1px solid gray;
    box-sizing: border-box;
}
#div1{
    background-color: yellowgreen;
    height: 6vh;
    width: 6vh;
    /* order: 6; */
}
#div2{
    background-color: dimgray;
    height: 8vh;
    width: 8vh;
    /* order: 1; */
}
#div3{
    background-color: cyan;
    height: 12vh;
    width: 12vh;
    /* order: 3; */
}
#div4{
    background-color: lightblue;
    height: 16vh;
    width: 16vh;
    /* order: 5; */
}
#div5{
    background-color: lightcoral;
    height: 20vh;
    width: 20vh;
    /* order: 2; */
}
#div6{
    background-color: lightseagreen;
    height: 25vh;
    width: 25vh;
    /* order: 4; */
}